#content {
    background: white;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow:hidden;
    overflow-y:scroll;
    justify-items: center;
}

#content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    text-align: center;
    margin: 30px 0;
}

#content > div > div > .picture {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > div > div > .picture:hover {
    opacity: 0.7;
}

#content > div > div > .picture > .play-btn {
    width: 60px;
    height: 60px;
}

#content > div > div > .song-artist {
    margin: 5px 0 2px;
}

#content > div > div > .picture > .play-btn:hover {
    cursor: pointer;
    background-image: url("/play-button-arrowhead.png");
    background-size: cover;
}
#content > div > div {
    text-align: center;
}