#container {
    color: #333;
    background: #e25f5fa1;
    display: grid;
    grid-template-areas:
            "header"
            "content"
            "footer";
    grid-template-rows: 60px 10fr 60px;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    height: 100vh;
    margin: 0;
}

